<% content_for(:title) { 'Home Dashboard' } %>

<header class="main-content__header" role="banner">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
    </div>
  </div>
</header>

<section class="main-content__body">

  <div class="container h-100" style="padding-top: 20%;">
    <div class="row h-100 align-items-center">
      <div class="col-12 pt-10 text-center">
        <p class="lead">Welcome to Indiesell Dashboard</p>
      </div>
    </div>
  </div>

</section>