<div class="jumbotron text-center" id="payment-success-message">
  <h1 class="display-3">Payment is Successful</h1>
  <p><%= money_without_cents_and_with_symbol @purchase.price %></p>
  <p class="lead">
    <strong>Thank you! Please click the button below </strong> for further instructions on how to access your purchase.
  </p>
  <hr>
  <p class="lead">
    <%=
      link_to 'Continue to your purchase page',
              '#',
              class: "btn btn-primary btn-lg"
    %>
  </p>
</div>