<div class="jumbotron text-center" id="payment-success-message">
  <h1 class="display-3">Your Purchase is Successful</h1>
  <p><%= money_without_cents_and_with_symbol @purchase.price %></p>

  <% if @purchase.is_free %>
    <p class="lead">
      <strong>Thank you! </strong> Please check your email for further instructions on how to access your purchase.
    </p>
  <% else %>
    <p class="lead">
      <strong>Thank you! Please click the button below </strong> for further instructions on how to access your purchase.
    </p>
    <p class="lead">
      <%=
        link_to 'Continue to your purchase page',
                store_purchase_path(@purchase),
                class: "btn btn-primary btn-lg"
      %>
    </p>
  <% end %>

  <br>
  <hr>
  <p>
    Having trouble? 
    Please <a href="mailto:galih.rubyist@gmail.com?subject=Trouble after successful payment">contact Us</a>
  </p>  
</div>