<div id="smart-button-container">
  <div style="text-align: center">
    <input type="hidden" name="descriptionInput" id="description" maxlength="127" value="LOREM IPSUM">
  </div>
  <div style="text-align: center">
    <input name="amountInput" type="hidden" id="amount" value="2000" ><span> USD</span>
  </div>
  <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
  <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=<%= ENV['paypal_client_id'] %>"  data-sdk-integration-source="button-factory">
  // Required. Replace SB_CLIENT_ID with your sandbox client ID.
</script> 
<script>
  function initPayPalButton() {
    var description = document.querySelector('#smart-button-container #description');
    var amount = document.querySelector('#smart-button-container #amount');
    var descriptionError = document.querySelector('#smart-button-container #descriptionError');
    var priceError = document.querySelector('#smart-button-container #priceLabelError');

    var elArr = [description, amount];

    var purchase_units = [];
    purchase_units[0] = {};
    purchase_units[0].amount = {};

    function validate(event) {
      return event.value.length > 0;
    }

    paypal.Buttons({
      style: {
        color: 'gold',
        shape: 'pill',
        label: 'paypal',
        layout: 'vertical',
        
      },

      onInit: function (data, actions) {
        actions.disable();

        elArr.forEach(function (item) {
          item.addEventListener('keyup', function (event) {
            var result = elArr.every(validate);
            if (result) {
              actions.enable();
            } else {
              actions.disable();
            }
          });
        });
      },

      onClick: function () {
        // if (amount.value.length < 1) {
        //   priceError.style.visibility = "visible";
        // } else {
        //   priceError.style.visibility = "hidden";
        // }

        // if (product_id.value.length < 1) {
        //   product_idError.style.visibility = "visible";
        // } else {
        //   product_idError.style.visibility = "hidden";
        // }

        purchase_units[0].description = description.value;
        purchase_units[0].amount.value = amount.value;

        if(product_id.value !== '') {
          purchase_units[0].invoice_id = product_id.value;
        }
      },

      createOrder: function (data, actions) {
        // console.log(data);
        // console.log(amount);
        // console.log(purchase_units);        
        return fetch('/api/v1/store/purchases', {
          method: 'post',
          headers: {
            'content-type': 'application/json'
          },
          body: JSON.stringify(data)
        }).then(function(res) {
          return res.json();
        }).then(function(data) {
          return data.orderID; // Use the same key name for order ID on the client and server
        });
      },

      onApprove: function (data, actions) {
        // return fetch('/api/v1/store/purchases/capture', {
        //   method: 'POST',
        //   headers:  { 'Content-Type': 'application/json' },
        //   body:     JSON.stringify({ paypal_order_id: data.orderID })
        // }).then(function(res) {
        //   return res.json();
        // }).then(function(data) {
        //   // return data.orderID; // Use the same key name for order ID on the client and server
        //   if (data.status === 'COMPLETED') {
        //     window.location.href = '/store/purchases/' + data.purchase_code + '/success';
        //   } else {
        //     window.location.href = '/store/purchases/failure?purchase_code=' + data.purchase_code;
        //   }          
        // });
      },

      onError: function (err) {
        console.log(err);
      }
    }).render('#paypal-button-container');
  }
  initPayPalButton();
</script>