<div class="section section-demo"id="store-list">
  <div class="container">
    <%= render partial: "product", collection: @products, as: :product %>
  </div>
</div>

<style type="text/css">
.product-display-picture img {
  width: 100%;
  height: 500px; /* only if you want fixed height */  
}
</style>