# you can generate these mock CC on this page: https://developer.paypal.com/developer/creditCardGenerator/
paypal_mock_cc_no:  'CARD_NO'
paypal_mock_cc_exp: '00/00'
paypal_mock_cc_cvv: '123'

default_currency: 'USD'
store_name:  'Indiesell'
store_owner_name: 'Your Name'
store_owner_email: 'your.name@mail.com' 
store_owner_twitter: 'yourname'
store_host: 'localhost:3000'

file_expiry_hours: '24'
file_max_downloads: '10'

# --- active storage provider configs --- #
# FILL and use whichever provider you use
# :microsoft
azure_storage_account_name: ''
azure_storage_access_key: ''
azure_container: ''
# :amazon
aws_access_key_id: ''
aws_secret_access_key: ''
aws_region: ''
aws_bucket: ''
# :google
gcs_project: ''
gcs_credentials: ''
gcs_bucket: ''
# --- active storage provider configs --- #

development:
  active_storage_provider: "local"
  paypal_client_id: PAYPAL_CLIENT_ID

test:
  active_storage_provider: "test"
  paypal_client_id: PAYPAL_CLIENT_ID

production:
  active_storage_provider: "local" # "local" or "microsoft" or "amazon" or "google"
  paypal_client_id: PAYPAL_CLIENT_ID
  mailer_smtp_address: ""
  mailer_smtp_port: ""
  mailer_smtp_user_name: ""
  mailer_smtp_password: ""
  mailer_smtp_authentication: ""